@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sudo-var');

*,
::before,
::after {
  box-sizing: border-box;
}

/*Variables*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

:root {
  --first-color: #0ecaeb;
  --second-color: #14191b;
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --medium-font-size: 1.5rem;
  }
}

/*Margins*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--second-color);
  height: 100%;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  overflow-x: hidden;

}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*Intro Animation */
.intro {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #1f1f1f;
  transition: 0.7s;
  z-index: 101;
}

.intro-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.text {
  color: #fff;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 1.5rem;
}

.text.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.7s;
}

.text.appear {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.nav-bar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.logo-container {
  margin-left: 20px;
  height: 30px;
  width: 30px;
  flex: 1;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: var(--second-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/* Nav Menu */
@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 3rem;
    height: 100%;
    padding: 2rem;
    width: 60%;
    right: -100%;
    background-color: var(--second-color);
    z-index: 99;
    transition: 0.5s;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    font-size: var(--medium-font-size);
    margin-bottom: var(--mb-4);
    cursor: pointer;
  }
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

.show_menu {
  right: 0;
}

.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav-menu {
  flex: 1;
  margin-right: 20px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item a {
  color: white;
}

.nav_link {
  position: relative;
  color: #fff;
}
.nav_link:hover {
  position: relative;
}

.nav-logo {
  height: 100%;
  width: 100%;
  background-color: #d3d3d3;
}

.nav-logo img {
  background-color: #d3d3d3;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

/* HOME - MAIN  */

.home_title-color {
  color: var(--first-color);
}

.home-data {
  position: relative;
}

.home-title {
  bottom: 50%;
  position: absolute;
  margin-left: 2rem;
}

.home-text {
  font-size: var(--h2-font-size);
  color: #fff;
}

main {
  height: 100vh;
  width: 100vw;
}

.section {
  color: white;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.home-data {
  height: 100%;
}

.img-container {
  position: absolute;
  right: 12%;
  bottom: 30%;
  height: 475px;
  width: 475px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.bx {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-height: 1024px) {
  .img-container {
    height: 400px;
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
  }

  .img-container {
    height: 300px;
    width: 300px;
    bottom: 5%;
    left: 14%;
  }

  .home-title {
    width: 100%;
    top: 20%;
  }
}

.section-title {
  text-align: center;
  margin-top: var(--mb-2);
  color: var(--first-color);
  font-size: var(--h2-font-size);
  margin-bottom: 20px;
}

/* ABOUT */
.about-items {
  display: flex;
}

.about-image-container {
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.about-image-container img {
  border-radius: 5%;
}

.about-text-container {
  padding: 2rem;
  flex: 1;
}

.about-text {
  font-family: 'Sudo Var', sans-serif;
  font-size: x-large;
  font-weight: 500;
  padding-top: 3rem;
}

@media screen and (max-width: 768px) {
  .about-items {
    flex-direction: column;
  }

  .about-text {
    text-align: center;
  }
}

/* SKILLS */
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-list {
  display: flex;
  padding: 4rem;
  bottom: 0;
}

.skill-list li {
  font-size: var(--medium-font-size);
  font-weight: var(--font-semi);
  margin: 1rem;
  border-bottom: 2px solid var(--first-color);
  text-align: center;
}

.skill-list .bx {
  margin-right: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .skill-list {
    flex-direction: column;
  }
}

/* PROJECTS */
.projects {
  padding: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .projects-container {
    display: flex;
    flex-direction: column;
  }
}
.project-item {
  flex: 50%;
  position: relative;
}

.project-item img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}


.project-info {
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  width: auto;
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: rgba(105,105,105, 0.8);
  height: 100%;
}

.project-info:hover {
  opacity: 1;
}



.project-stack {
  display: flex;
  justify-content: center;
}


.project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  color: white;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.button-text {
  font-weight: bold;
}


/* CONTACT */

.contact-me-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form input {
  height: 20px;
  width: 100%;
}

.submit-button {
  height: 30px;
  width: 50px;
  background-color: var(--first-color);
  font-weight: 600;
  border-radius: 5px;
}

/* FOOTER */

.footer {
  background-color: var(--first-color);
  padding: 15px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: white;
}

.footer .bx {
margin-left: 10px;
}